_build/
.vscode/
.vs/
1.4_docfx/_site_pdf/1.4_docfx_tmgtoolbox.pdf
1.4_docfx/_site_pdf/1.4_docfx.pdf
1.4_docfx/_site_pdf/1.4_docfx_api.pdf
1.4_docfx/_site_pdf/1.4_docfx_articles.pdf
/1.4_docfx/obj/.cache/build
