h1.mdi
{
	font-size: 35px;
}

span.default-value{
	color: #b56c41;
	font-weight: 500;
}

.navbar .container
{
	flex-wrap: initial;
}

.navbar .dropdown
{
	float: left;
	display: inline-block;
}

.navbar #navbar {
	display: inline-flex !important;
}

.navbar #navbar.collapse:not(.in) ul {
	display: none!important;
}

.subnav .container {
	justify-content: initial;


}

.subnav .container ul {
	padding: 0px;
}

nav.navbar {
	padding: 0px;
}

.toc > .nav
{
	display: block !important;
}